---
import MetaHead from "../components/MetaHead.astro"

import Footer from "../components/Footer.astro"


---

<html lang="bo">
	<MetaHead />
	<body class="">
	
		<div class="min-h-screen max-w-6xl mx-auto">
			<slot/>  
		</div>
		<Footer/>

	</body>
	<!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "3ff5870c5ab24e809833ca7579f9b5ab"}'></script><!-- End Cloudflare Web Analytics -->
</html>
